$main-color: #2d6da3;

$primary-font-color: #353535;
$secondary-font-color: #fdfdfd;
$unfocused-font-color: #585858;

$element-background-color: #ffffff;
$element-border-color: #efefef;
$element-button-color: #fcfcfc;
$element-button-hover: #eef4f9;

$list-select-bg: #edf6fe;
$list-select-border: #b2d8f9;

$bg-color: #e5e7ea;

$general-padding: 15px;
$secoundary-padding: 20px;
$tertiary-padding: 35px;

$base-font-rem-size: 10px;

//Legacy - pls keep

$header-gradient-background-color: $main-color;
