$primary-font-color: #fdfdfd;
$secoundary-font-color: #353535;
$unfocused-font-color: #585858;

$element-background-color: #ffffff;
$element-border-color: #efefef;

$element-button-color: #fcfcfc;
$element-button-hover: #eef4f9;

$header-gradient-background-color: #2d6da3;

$general-padding: 15px;

$list-select-bg: #edf6fe;
$list-select-border: #b2d8f9;

$bg-color: #e5e7ea;
