$primary-font-color: #ffffff;
$secoundary-font-color: #353535;
$unfocused-font-color: #585858;

$element-background-color: #ffffff;
$element-border-color: #efefef;

$element-button-color: #fcfcfc;

$header-gradient-background-color: #2d6da3;

$general-padding: 15px;
