//Always use modifiers furthest down the tree.

@use "variables" as var;
@use "fonts";
@use "buttons";
@use "base";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.wrapper {
    width: 1400px;
}
.grid {
    width: 100%;
    height: auto;
    background-color: var.$bg-color;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 70px;
    gap: 25px;
    padding: 25px;
}

.grid__item {
    min-width: 450px;
    height: 100%;
}

.module {
    width: 100%;
    height: 100%;
    background-color: var.$element-background-color;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.module__header {
    width: 100%;
    height: 40px;
    font-size: 1.25em;
    text-shadow: 0px 1px 3px #0000002e;
    text-transform: uppercase;
    color: var.$primary-font-color;
    background: var.$header-gradient-background-color;
    display: flex;
    align-items: center;
    padding-left: var.$general-padding;
}

.module__body {
    width: 100%;
    height: calc(100% - 80px);
    color: var.$secoundary-font-color;
    position: relative;
    overflow-y: auto;

    .body__title {
        width: 100%;
        height: 50px;
        font-size: 16px;
        font-weight: 700;
        border-bottom: 1px solid var.$element-border-color;
        padding-left: var.$general-padding;
        display: flex;
        align-items: center;

        &--secound-title {
            margin-top: 20px;
        }
    }

    .body__unfocused-title {
        width: 100%;
        height: 40px;
        font-size: 12px;
        font-weight: 400;
        color: var.$unfocused-font-color;
        border-bottom: 1px solid var.$element-border-color;
        display: flex;
        align-items: center;
        padding-left: var.$general-padding;
    }

    .list-item {
        width: 100%;
        height: auto;
        padding: var.$general-padding;
        border-bottom: 1px solid var.$element-border-color;
        border-top: 1px solid transparent;
        display: flex;
        align-items: center;
        cursor: pointer;

        &:hover {
            background-color: var.$list-select-bg;
            border-top: 1px solid var.$list-select-border;
            border-bottom: 1px solid var.$list-select-border;
        }

        &--selected,
        &--selected:hover {
            background-color: var.$header-gradient-background-color;
            color: var.$primary-font-color;
            border-top: 1px solid var.$list-select-border;
            border-bottom: 1px solid var.$list-select-border;
        }

        //If left image is desired here's a default setup. Make a modifier below if image size has to be changed.
        &__left-image {
            width: 68px;
            min-width: 68px;
            height: 68px;
            background-color: grey;
            border-radius: 5px;
            overflow: hidden;
            margin-right: 10px;

            &__left-image img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            //Modifiers below:
        }

        &__text-box {
            width: auto;
            height: auto;

            .text-box__title-container {
                font-size: 1em;
                font-weight: 700;
                margin-bottom: 5px;
                display: flex;
            }

            .title-container__favorit {
                width: 18px;
                height: 18px;
                background-image: url(@/assets/img/icons/favorit.svg);
                background-size: 18px;
                background-position: center;

                &:hover,
                &--active {
                    background-image: url(@/assets/img/icons/favorit-active.svg);
                    background-size: 22px;
                }
            }

            .text-box__text-container {
                font-size: 0.875em;
                font-weight: 400;
            }
        }

        //Modifiers below:
        //CSS rules specifically for the side icon list setup. Reusuable, therefore not scoped.
        &__text-box--side-icon {
            overflow: hidden;
            white-space: nowrap;

            .title-container__title {
                width: calc(100% - 30px);
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .text-container__text {
                width: calc(100% - 30px);
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}

.module__footer {
    width: 100%;
    height: 40px;
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
    background-color: var.$element-button-color;
    border-top: 1px solid var.$element-border-color;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    bottom: 0px;
    z-index: 2;

    &:hover {
        background-color: var.$element-button-hover;
    }
}
